@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.

</p>
<p>
    @Html.ActionLink("Area index", MVC.MyCoolArea.Blah.Index())<br />
    @Html.ActionLink("Area attrib routing", MVC.MyCoolArea.Blah.CoolRoute())<br />
</p>
